.detailsInfo__section {
  background-color: rgb(255, 236, 199, 0.7);
  margin-bottom: 50px;
  border: 1px solid rgb(0, 68, 0);
  padding: 10px;
  margin-right: 50px;
  width: 70%;
  font-family: "Roboto";

  button {
    width: 200px;
    height: 40px;
    font-size: 24px;
    font-family: "Roboto";
  }
}
