.card {
  width: 350px;
  height: 200px;
  margin: 20px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: content-box;

  button {
    width: 350px;
    background: none;
    border: 0;
  }
  .cardType {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    p {
      margin: 0;
    }
  }

  h2,
  h3 {
    margin: 0;
  }

  .copy_number {
    color: orange;
    font-size: 18px;
  }
}

.card.debit {
  background-image: url("../../../images/orange.jpg");
  color: rgb(9, 54, 94);
  background-size: cover;
  button {
    color: rgb(9, 54, 94);
    font-size: 28px;
  }
  .copy_number {
    color: green;
    font-size: 18px;
  }
}

.card.credit {
  background-image: url("../../../images/green.jpg");
  background-size: cover;
  color: white;
  button {
    color: white;
    font-size: 28px;
  }
  .copy_number {
    color: orange;
    font-size: 18px;
  }
}
