@import "../../../../utilities/variables.scss";

.cashPopup_section {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $green_popup_transparent;

  .cashPopup {
    background-color: $green_popup_light;
    width: fit-content;
    height: fit-content;
    padding: 50px;
    box-shadow: 5px 5px 20px 5px $green_popup_light;

    input {
      width: 200px;
      height: 40px;
    }

    select {
      width: 150px;
      height: 40px;
      font-size: 20px;
    }

    .cancelAddCashButton {
      width: 150px;
      height: 30px;
      font-size: 18px;
    }
  }
}
